<section>
  <h3>Get BarCamp Update Emails</h1>
  <form action="http://barcamplondon.createsend.com/t/r/s/wdilkt/" method="post" id="subForm">
    <label for="name">Name:</label>
    <input type="text" name="cm-name" id="name" />
    <label for="wdilkt-wdilkt">Email:</label>
    <input type="text" name="cm-wdilkt-wdilkt" id="wdilkt-wdilkt" />
    <input type="hidden" name="cm-f-akiuik" id="anything" value="TRUE" />
    <input type="hidden" name="cm-f-akiudl" id="barcamp" value="TRUE" />
    <input type="submit" value="Subscribe" />
  </form>
</section>
