#frontpage {


  #content {
    background: #fff;

    padding-bottom: 30px;

    div {
      text-align: center;
      img {
        margin-top: 30px;
        width: 80%%;
      }

      article {
        text-align: left;
        display: block;
        padding: 2%;
        margin-top: 20px;
        color: #333;
        background-color: #000;
        background-color: #f2f2f2;
        clear: both;
      }
    }
  }
}

@media only screen and (min-width: 550px) {
  #frontpage {
    #content {

//      height: 400px;

      div {
        text-align: left;

        img {
          margin-left: 6%;
          margin-top: 4%;
          width: 60%;
        }

        article {
          margin-top: 20px;
//          width: 40%;
          padding: 2% 2% 0% 6%;
        }
      }
    }
  }
}


